<div class="containers p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/signup">
                    <img src="#" class="card-img-top mx-auto m-2 rounded-circle w-50" alt="">
                        <div class="form-group">
                            <input type="text" name="fullname" placeholder="Nombre entero" class="form-container" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Nombre del usuario" class="form-container">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Correo" class="form-container">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-container">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Registrarme
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>